@import url('https://fonts.googleapis.com/css?family=Nunito');

:root {
    --bg: rgb(255, 255, 255);

    --light-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);

    --text: rgb(40, 40, 40);
    --text-accent: rgb(60, 85, 85);

    --input-bg: rgb(240, 240, 240);
    --input-hover-bg: rgb(230, 230, 230);
    --input-opposite-bg: rgb(220, 220, 220);
}

html {
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
    color: var(--text);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg);
}

#menu-bar {
    display: grid;
    height: 30px;
    padding-top: 0;
    margin-top: 0;
}

#prompt {
    padding: 10px
}

#options {
    text-align: center;
    min-height: 50px;
    width: 100%;
    border: 1px solid black;
}

#poem-options {
    text-align: center;
    width: 100%
}

#story-options {
    text-align: center;
    width: 100%
}

.button {
    border: none;
}